* {
  font-family: "Roboto Condensed", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  color: #ddd;
}
body {
  text-transform: uppercase;
  padding: 1em;
  margin: 0 auto;
}
#end {
  text-align: right;
  font-size: 2rem;
  padding-right: 2rem;
}
a {
  color: rgba(0,0,0,.6);
  transition: color .1s ease-out;
  text-decoration: none;
  background-image: linear-gradient(transparent 50%, rgba(0,0,0,.6) 50%);
  background-size: 4px 4px;
  background-position: 0 1em;
  background-repeat: repeat-x;
}
a:hover {
  color: white;
  background-image: linear-gradient(transparent 50%, white 50%);
}

.pad {
  padding: 2rem 0;
}

br.s {
  display: none;
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url(victorszeto.com/fonts/RobotoCondensed-Regular.eot);
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url(victorszeto.com/fonts/RobotoCondensed-Regular.eot) format('embedded-opentype'), url(victorszeto.com/fonts/RobotoCondensed-Regular.woff) format('woff');
}

@media screen and (max-width: 1100px) {
  br.s {
    display: block;
  }
  .pad {
    text-align: right;
  }
}
