html { font-size: 62.5% }

body {
   transition: background 600ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
   font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
   line-height: 1;
   font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
   overflow: hidden;
   color: #fff
}

h1, h2, h3 { transition: font-size 800ms cubic-bezier(0.645, 0.045, 0.355, 1.000); font-weight: 300 }
h1 { font-size: 6rem; letter-spacing: .777rem; margin-bottom: 2rem;}
h2 { font-size: 2.4rem; letter-spacing: .1rem }
small {
  font-size:2rem;
}
  #wrapper {
   width: 300px;
   height: 300px;
   margin: 0 auto;
   position: absolute;
   left: 50%;
   top: 50%;
   margin-left: -150px;
   margin-top: -150px;
   text-align: center
  }
#me {
  position: absolute;
  right: 5rem;
  bottom: 5rem;
  color: rgba(255, 255, 255, .3);
  font-size: 1rem;
}

svg, #me {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
::selection {
   background: #eee;
}

@media (min-width: 768px) {
  h1 { font-size: 6.0rem; }
  h2 { font-size: 4.2rem; }

  #wrapper {
   width: 500px;
   height: 500px;
   margin: 0 auto;
   position: absolute;
   left: 50%;
   top: 50%;
   margin-left: -250px;
   margin-top: -250px;
   text-align: center
 }
}
@media (min-width: 1200px) {
  h1 { font-size: 9rem; }
  h2 { font-size: 5.8rem; }
}
